* {
    margin: 0;
}

.header1 {
    width: 90%;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    border-bottom: 1px solid grey;
}

.logo {
    display: flex;
    align-items: center;
    color: #192252;
    /* font-size: 18px; */
}

.mobain {
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 20px;
    color: #192252;
    font-weight: bold;
}

.get button {
    /* display: flex; */
    width: 110px;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    margin-top: 5px;
    background-color: #0E1734;
    color: white;
}

.button:hover {
    background-color: grey;
    color: white;
}